# Database
POSTGRES_HOST=test
POSTGRES_PORT=test
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test

# API
GRAPHQL_URL=test://test:test/
JWT_SECRET_KEY=test/test
RESEND_API_KEY=test
VITE_BACKEND_URL=test://test:test/test

# Tests
LOGIN_TEST_PWD="#test#test@test"
LOGIN_TEST_EMAIL=test.test@test.com
LOGIN_TEST_USERNAME=test

SIGN_IN_TEST_PWD="#test#test@test"
SIGN_IN_TEST_EMAIL=test@test.test
SIGN_IN_TEST_USERNAME=test
