node_modules
.env
/e2e/.env

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
e2e/playwright/.cache/
e2e/playwright-report/
e2e/test-results/
e2e/.auth/user.json
dist

backend/coverage